<%= form_for @user, url: wizard_path do |f| %> 
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :school %><br>
    <%= f.text_field :school %>
  </div>
  <div class="actions">
    <%= f.submit "Continue" %>   
  </div>
<%end%>
<%= link_to 'Prev', previous_wizard_path %>
<%= link_to 'Next', next_wizard_path %>